/* Global variables. */
/* :root {} */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    display: flex;
    margin: auto;
    /* max-width: 1440px; */
    background-color: #111;
    color: #FFF;
    font-family: 'Akshar', sans-serif;
    /* padding: 0em 2em; */
    font-size: 18px;
}
nav {
    /* padding: 2em; */
    border-right: 1px solid white;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    color: lightblue;
}
nav > ul > li {
    margin-bottom: 1em;
    padding-top: 1rem;
    border-top: 1px solid white;
    width: 100%;
}
nav > ul > li > header {
    padding-right: 3rem;
}
nav li ul {
    margin-top: 0.5rem;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 3rem;
}
h1, h2, h3 {
    font-weight: normal;
}
h1 {
    padding: 2rem;
    margin: 0;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    font-size: 3rem;
}
a {
    color: deepskyblue;
}
#gallery {
    /* columns: 4;
    column-gap: 2rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 2rem;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#gallery > li {
    display: flex;
}
[data-pswp-width] {
    aspect-ratio: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    color: transparent;
    background-color: lightblue;
}
/* @media (max-width: 1200px) {
    #gallery {
        columns: 3;
    }
}
@media (max-width: 800px) {
    #gallery {
        columns: 2;
    }
}
@media (max-width: 500px) {
    #gallery {
        columns: 1;
    }
} */
